* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F2F5F9 !important;
    font-size: 14px;
    line-height: 1.5;
    color: #5E5E5E;
}

#header {
    line-height: 45px;
    position : fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #E7E7E7;
}

#header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    float: inherit;
    margin: 0;
}

#header .header-logo-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

#nav-container {
   width: 90%;
    height: 100%;
}

#navbar-apkpure {
    padding: 0;
}

.list-wrapper {
    padding: 4px;
}

.wrapper .text-more .card-text {
    font-size: 16px;
}

.wrapper-content {
    margin-right: 8px;
}

.wrapper-title {
    margin-top: 5px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}

.support-download  {
    color: #00A6ED;
}

.search {
    cursor: pointer;
    margin-right: 10px;
    line-height: 16px;
    padding: 9px 12px;
    float: right;
}

.search .fa-search {
    color: #c5c5c5;
    line-height: 30px;
    width: 24px;
    height: 24px;
}

.search .fa-search::before {
    height: 24px !important;
    width: 24px !important;
}

.avatar {
    background-color: #f5f5f5;
    padding: 12px 16px;
}

.main-body {
    margin-top: 6rem;
}


.slider {
    width: auto;
    height: auto;
}

.search-box {
    border-radius: 5px;
    border: 1px solid #24CD77;
}

.btn-search {
    padding: 1px 6px;
    background-color: #24CD77;
}

.btn-search .form-control.fa.fa-search {
    background-color: #24CD77;
    border: none;
    color: white;
}

.bg-trending-content {
    padding: 4px 8px;
    color: #777777;
    background-color: #F2F5F9;
    cursor: pointer;
    font-size: 12px;
    margin: 10px 5px 10px 0 !important;
}

.bg-trending-content:hover {
    background-color: #24CD77;
    color: white;
}

.score .fa.fa-star {
    color: #FA8B16;
    font-size: 12px;
}

.social-network .network {
    display: block;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.social-network .telegram {
    color: #2AABEE;
}

.social-network .facebook {
    color: #3B57A0;
}

.social-network .twitter {
    color: #00A6ED;
}

.social-network .youtube {
    color: #DD1829;
}

.social-network .telegram::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/icon-telegram.svg");
}

.social-network .facebook::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/icon-facebook.svg");
}
.social-network .twitter::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/icon-twitter-v1.svg");
}
.social-network .youtube::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/icon-youtube.svg");
}